.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F27BF;
    padding: 16px 32px;
}
.header__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}
.user__text {
    margin-left: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
@media screen and (max-width: 480px) {
    .user__text {
        display: none;
    }
}