.input {
    width: 100%;
    border: 3px solid #4F27BF;
    border-radius: 10px;
    padding: 22px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    outline: none;
    &-wrapper {
        width: 100%;
        & + .section__button {
            margin-left: 24px;
        }
    }
    &__error {
        border-color: red;
    }
    &:focus {
        box-shadow: 0px 0px 5px rgba(2, 0, 96, 1);
    }
    @media screen and (max-width: 1024px) {
        padding: 10px 15px;
        font-size: 14px;
    }
}